<% content_for :title do%>
  HimL@n - страница подкатегорий
<% end %>

<% content_for :left do %>
<%= render :partial=>'common/menu' %>
<% end %>

<!-- PRODUCT CATEGORIES -->
<h2 class="title-category"><span>Подкатегории:</span></h2>
<ul id="cat-images">
  <table class="subcategories_list">
    <tr>
  <% @subcategories.in_groups(5, "&") do |group| %>
      <td>
    <% group.each do |subactegory| %>
      <%= render :partial => 'subcategory', :object => subactegory %>
    <% end %>
    </td>
  <% end %>
    </tr>
  </table>
</ul>
<ul style="margin-left: -40px;">
  <%=  render :partial => 'relizs/short_reliz', :collection => @relizs %>
</ul>
<%= will_paginate @relizs %>