div.hide 
{
	display:none;
}

.errorExplanation{margin: 0px 0 10px 10px;}
.errorExplanation ul{margin-left: 50px;}
.errorExplanation h2{color: red;}
.errorExplanation p{margin-left: 30px;}

.fieldWithErrors {

}
.fieldWithErrors input{background-color: #FFFF99}
.fieldWithErrors textarea{background-color: #FFFF99}