<li><span>Системные требования:</span> <%= @reliz.params_form[:system_requirements] unless @reliz.nil? %></li>
<li><span>Студия:</span> <%= @reliz.params_form[:studio] unless @reliz.nil? %></li>
<li><span>Издатель:</span> <%= @reliz.params_form[:publisher] unless @reliz.nil? %></li>
<li><span>Язык:</span> <%= @reliz.params_form[:language] unless @reliz.nil? %></li>