<div class="group">
  <%= label_tag :description, "Режиссер:", :class => :label %>
  <%= text_field_tag 'reliz[params_form][producer]', (@reliz.params_form[:producer] unless @reliz.nil?), :class => "text_field" %>
<span class="description">Ex: a simple text</span>
</div>