<div class="group">
  <%= label_tag :author, "Автор:", :class => :label %>
  <%= text_field_tag 'reliz[params_form][author]', (@reliz.params_form[:author] unless @reliz.nil?), :class => "text_field" %>
<span class="description">Ex: a simple text</span>
</div>

<div class="group">
  <%= label_tag :publisher, "Издатель:", :class => :label %>
  <%= text_field_tag 'reliz[params_form][publisher]', (@reliz.params_form[:publisher] unless @reliz.nil?), :class => "text_field" %>
<span class="description">Ex: a simple text</span>
</div>