<div id="header">
  <a class="header_logo" href="<%= root_path %>"><strong>Himlan Logo</strong></a>
  <%#*<ul>%>
    <%#*<li class="first">%>
      <%#*<span class="active"><%= link_to "Home"%></span>%>
    <%#*</li>%>
    <%#*<li>%>
      <%#*<span><%= link_to "About Us" %></span>%>
    <%#*</li>%>
    <%#*<li class="last">%>
      <%#*<span><%= link_to "Contact"%></span>%>
    <%#*</li>%>
  <%#*</ul>%>
  <div class="clear">
  </div>
  <div align="right" style="height:20px; margin-top:-5px;">
  </div>
  <div class="clear">
  </div>
</div>
<div id="banner">
  <div id="loginform">
    <div class ="links">
    	admin_user_link
		</div>
    <div class="title">
    	Info login form
		</div>
  </div>
</div>
